/* FOOTER
-------------------------------------------------*/
.main-footer {
    // @extend %space;
    padding: 20px;
    color: $white;
    background: lighten($colorPrimary, 2%);
    text-align: center;
    small {
        display: block;
    }
}
